<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.journal }}"><a href="/journal" title="journal">JOURNAL</a></li>
		<li class="{{ page.cv }}"><a href="/cv" title="CV">OTIM</a></li>
		<li class="{{ page.notes }}"><a href="/present" title="Notes">PRESENT</a></li>
    <li class="{{ page.notes }}"><a href="/scribe" title="Notes">SUBCRIBE</a></li>
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">CONTACT</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Otim Fredrick</a></h3>
</div> <!-- /header -->
